html{
  font-size:20px;
}
body{
  font-family: monospace;
  background-color:#ddd;
}
#main{
  text-align: center;
}
#img-div{
  background-color:#fff;
  padding:1rem;
}
#img-caption{
  font-size:.6rem;
}
#image{
  display:block;
  max-width:100%;
  height:auto;
  margin:1rem auto;
}
ul{
  width:30rem;
  margin:auto;
  text-align:left;
}
li{
  margin-bottom:1rem;
}
